#brand-button {
    font-size: 25px;
}

#brand-name {
    float: right;
    margin-top: 14px;
    margin-left: 6px;
}

#logo {
    margin: 7px;
    height: 50px;
}

.nav-item {
    margin: 10px;
    margin-top: 14px;
}

.nav-item a {
    font-size: 20px;
}

#page-body {
    margin-top: 30px;
    max-width: 690px;
}

#inclusion div {
    margin: 30px;
}

#inclusion div input {
    margin-top: 30px;
    max-width: 600px;
}

.match-table-column-s1 {
    width: 10%;
}

.match-table-column-s2 {
    width: 20%;
}

.match-table-column-s3 {
    width: 35%;
}

.match-table-column-p2-s1 {
    width: 10%;
}

.match-table-column-p2-s2 {
    width: 25%;
}

.match-table-column-p2-s3 {
    width: 40%;
}

.sat-checkbox-label {
    margin-right: 10px;
}
